<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Ensure the Play Store and the device treat this as a watch-first app. -->
    <uses-feature
        android:name="android.hardware.type.watch"
        android:required="true" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true">

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <profileable
            android:shell="true" />
        <activity
            android:name=".ConfigActivity"
            android:exported="false" />
        <service
            android:name=".CosmoBondWatchFaceService"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:permission="com.google.android.wearable.permission.BIND_WATCH_FACE">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/watchface_preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/watchface_preview" />
            <meta-data
                android:name="androidx.wear.watchface.preview"
                android:resource="@drawable/watchface_preview" />
            <meta-data
                android:name="androidx.wear.watchface.preview_circular"
                android:resource="@drawable/watchface_preview" />
        </service>
    </application>

</manifest>
